*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#parent{
    background-color: #C5C6C7;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#main{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.box{
    background-color: #3AAFA9;
    height: 300px;
    width: 300px;
}
#buttons{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#append, #remove{
    border: #66FCF1 solid 4px;
    background: #C5C6C7;
    padding: 7px;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 10px;
}